<div class="container">
    {% if not countTable.is_empty(): %}
    <div class="d-flex justify-content-end">
        <form class="py-2" action="/download/counted/counted" method="get" target="_blank">
            <input class="btn btn-outline-secondary" type="submit" value="Экспорт расчетов" />
        </form>
    </div>
    {% endif %}

    <!-- Уникальный контейнер для таблицы -->
    <div class="unique-scroll-table-h">
        {% if not countTable.is_empty(): %}
        <table class="unique-scroll-table">
            <thead>
                <tr>
                    {% for column in countTable.columns: %}
                    <th>{{ column }}</th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
                {% for row in countTable.rows(): %}
                <tr>
                    {% for value in row: %}
                    <td>{{ value }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function () {
    const table = document.querySelector('.unique-scroll-table');
    if (!table) return; // Защита от ошибок, если таблица отсутствует

    const headers = table.querySelectorAll('thead th');
    const rows = table.querySelectorAll('tbody tr');

    headers.forEach((header, index) => {
        // Получаем ширину заголовка
        const headerWidth = header.offsetWidth;

        // Устанавливаем ту же ширину для соответствующих ячеек данных
        rows.forEach(row => {
            const cell = row.querySelectorAll('td')[index];
            if (cell) {
                cell.style.width = `${headerWidth}px`;
            }
        });
    });
});
</script>